<h2>Países</h2>
<hr>

<ul class="list-group">
<!-- <li class="list-group-item"
routerLink="home"
routerLinkActive="active">
Home Page
</li>
  <li class="list-group-item"
  routerLink="about"
  routerLinkActive="active" >
  About Page
  </li>
  <li class="list-group-item"
  routerLink="contact"
  routerLinkActive="active" >
  Contact Page
  </li> -->

  <li class="list-group-item"
  routerLink="countries/by-capital"
  routerLinkActive="active" >
  por capital
  </li>
  <li class="list-group-item"
  routerLink="countries/by-region"
  routerLinkActive="active" >
  por región
  </li>
  <li class="list-group-item"
  routerLink="countries/by-country"
  routerLinkActive="active" >
  por país
  </li>
</ul>
